<footer>

    <div class="footer-grid">

        <div>
            <h3>Urban Playbox</h3>

            <p>
                Seeking the Peace
                of the City
            </p>
        </div>

        <div>
            <h4>Contact</h4>

            <p>
                info@urbanplaybox.org
            </p>
        </div>

        <div>
            <h4>Location</h4>

            <p>
                Cleveland, Ohio
            </p>
        </div>

        <div>
            <h4>Legal</h4>

            <a href="#">
                Imprint
            </a>
        </div>

    </div>

</footer>