{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">

    <!-- <video autoplay muted loop>
        <source src="#">
    </video> -->

    <div class="overlay"></div>

    <div class="hero-content">

        <p>
            Seeking the Peace of the City
        </p>

        <h1>
            EINFACH GEMEINDE
        </h1>

        <a href="/learn/" class="btn">
            Learn More
        </a>

    </div>

</section>

<section class="actions">

    <a href="/pray/">PRAY</a>
    <a href="/serve/">SERVE</a>
    <a href="/give/">GIVE</a>
    <a href="/learn/">LEARN</a>

</section>

{% endblock %}