{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">

    <div>
        <img src="{% static 'images/main.png' %}" alt="Network of berlin">
    </div>

    <div class="overlay"></div>

    <div class="hero-content">

        <p>
            Seeking the Peace of the City
        </p>

        <h1>
            EINFACHGEMEINDE
        </h1>

        <a href="/vision/" class="btn">
            Learn More
        </a>

    </div>

</section>

<!-- <section class="actions">

    <a href="/pray/">PRAY</a>
    <a href="/vision/">VISION</a>
    <a href="/#/">Unavailable</a>
    <a href="/#/">Unavailable</a>

</section> -->

{% endblock %}