{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="serve-hero">

    <div class="overlay"></div>

    <div class="hero-text">

        <p>
            Support through Giving
        </p>

        <h1>
            SERVE EinfachGemeinde
            ORGANIZATIONS
        </h1>

    </div>

</section>

<section class="organization">

    <div class="org-card">

        <h3>
            MOONEY MUSTANGS
        </h3>

        <p>
            Support local educational
            initiatives and outreach.
        </p>

    </div>

</section>

{% endblock %}